@font-face {
  font-family: anydore;
  src: url(/fonts/anydore.otf);
}

body {
  background-color: white;
  color: #333;
}

button {
  margin: 4px 3px;
  border-radius: 20px;
  border: 50px;
  padding: 4px 24px 5px 5px;
  font-weight: 400;
}

button > span {
  margin-right: 3px;
  opacity: 0;
  transition: opacity 0.27s linear;
}

button:hover > span {
  opacity: 1;
}

.light-btn {
  background-color: #e1f2f7;
  color: #333;
}

.dark-btn {
  background-color: #333;
  color: ghostwhite;
}

.green-btn {
  background-color: #40b040;
  color: ghostwhite;
}

.red-btn {
  background-color: #cc183c;
  color: ghostwhite;
}

.dropdown-toggle {
  border-radius: 20px;
  background-color: #333;
  color: #fff;
}

.dropdown-toggle:hover {
  background-color: #333;
  color: #fff;
}

.dropdown-menu {
  padding: 5px;
  border-radius: 20px !important;
  background-color: #333;
}

.dropdown-item {
  border-radius: 20px !important;
  background-color: #333;
  color: #fff;
}

.dropdown-item:hover {
  background-color: #e1f2f7;
  color: #333;
}

.modal-content {
  background-color: #f1f1f1 !important;
  color: #333 !important;
  border-radius: 20px !important;
}

form {
  border-radius: 20px;
  padding: 4%;
  background-color: #f1f1f1;
}

.form-group {
  margin-bottom: 9px;
}

.form-group > label {
  margin-left: 6px;
  margin-bottom: 6px;
}

.form-control {
  border-radius: 20px;
}

.form-select {
  border-radius: 20px;
}

.card {
  border-radius: 20px;
  transition: transform 0.4s;
  padding: 1rem;
  background-color: #f7f7f7;
  height: 100%;
}

/* .card:hover {
  transform: translateY(-6px);
} */
